{% extends "projbase.html.twig" %}

{% block title %}Avancerat Blackjack{% endblock %}

{% block body %}
    <div>
        <h1>Nuvarande räkning: {{ currentCount }}</h1>
    </div>

    <p class="dealer-points">Bankens poäng: {{ dealer.score }}</p>
    <div class="dealer-row card-row">
        {% for card in dealer.hand %}
            <div class="card">{{ card|raw }}</div>
        {% endfor %}
    </div>
    <div class="horizontal-align">
        {% for player in players %}
            <div>
                <div class="card-row">
                    {% for card in player.hand %}
                        <div class="card">{{ card|raw }}</div>
                    {% endfor %}
                </div>
                <section>
                    <p>Poäng: {{ player.score }}</p>
                    {% if not player.stand %}
                    <form action="{{ path('hit') }}" method="POST">
                        <input type="hidden" name="player" value="{{ loop.index0 }}">
                        <input type="submit" name="hit" value="Hit">
                    </form>
                    <form action="{{ path('stand') }}" method="POST">
                        <input type="hidden" name="player" value="{{ loop.index0 }}">
                        <input type="submit" name="stand" value="Stand">
                    </form>
                    {% else %}
                    <form action="{{ path('hit') }}" method="POST">
                        <input type="hidden" name="player" value="{{ loop.index0 }}">
                        <input type="submit" name="hit" value="Hit" disabled>
                    </form>
                    <form action="{{ path('stand') }}" method="POST">
                        <input type="hidden" name="player" value="{{ loop.index0 }}">
                        <input type="submit" name="stand" value="Stand" disabled>
                    </form>
                    {% endif %}

                    {% if results|length > 0 %}
                    <p>{{ results[loop.index0] }}</p>
                    {% endif %}
                </section>
            </div>
        {% endfor %}
    </div>
    {% if results|length > 0 %}
    <form action="{{ path('reset') }}" method="POST" class="play-again-form">
        <input type="submit" value="Spela igen">
    </form>
    {% endif %}
{% endblock %}