{% extends "base.html.twig" %}

{% block title %}Hem{% endblock %}

{% block body %}
<h1>API Routes</h1>
<table class="all-routes">
    <tr>
        <th>Route</th>
        <th>Beskrivning</th>
    </tr>
    {% for route, data in routes %}
    <tr>
        <td>
            {% if data.isPost|default(false) %}
                {% if data.optionalArgs is defined %}
                    <form action="" method="POST">
                        <input type="submit" name="drawCard" value="{{ data.optionalRouteName is defined ? data.optionalRouteName : route }}"
                        onClick="this.form.action='{{ url(route, data.optionalArgs) }}';">
                    </form>
                {% else %}
                    <form action="" method="POST">
                        <input type="submit" name="drawCard" value="{{ data.optionalRouteName is defined ? data.optionalRouteName : route }}"
                        onClick="this.form.action='{{ url(route) }}';">
                    </form>
                {% endif %}
            {% else %}
                <a href="{{ url(route) }}">{{ data.optionalRouteName is defined ? data.optionalRouteName : route }}</a>
            {% endif %}
        </td>
        <td>{{ data.description }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}