{% extends "base.html.twig" %}

{% block title %}Hem{% endblock %}

{% block body %}
<h1>API Routes</h1>
<table class="all-routes">
    <tr>
        <th>Route</th>
        <th>Beskrivning</th>
    </tr>
    {% for route, data in routes %}
    <tr>
        <td>
            {% if data.optionalArgs is defined %}
                <a href="{{ url(route, data.optionalArgs) }}">{{ data.optionalRouteName is defined ? data.optionalRouteName : route }}</a>
            {% else %}
                <a href="{{ url(route) }}">{{ route }}</a>
            {% endif %}
        </td>
        <td>{{ data.description }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}